## Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build output
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
nupkgs/
packages/
!**/[Pp]ackages/build/

## .NET
project.lock.json
project.fragment.lock.json
artifacts/

## OS
.DS_Store
Thumbs.db
desktop.ini

## Coverage
coverage/
*.coverage
*.coveragexml
TestResults/
